p {
    color: turquoise;
}
.btn {
color: cornflowerblue;
padding: 30px, 53px;
margin-bottom: 2px;
background: var(--color);
cursor: pointer;
}
.footer {
    background-color: black;
    color: whitesmoke;
    text-decoration: solid;
    text-align:center;
}