
body {
    background-color: rgb(238, 106, 128);
}

.jumbotron {
    background-color: black;
    justify-content: center;
}

.card {
background-color: burlywood;
justify-content: center;
}

.navbar {
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: black;
}